{% extends 'admin_template.html' %}

{% block MainContents %}
<body>
  <h1 class = "text-center">Stats</h1>
  <div class = "container-fluid">
<div class = "row">
    <div class = "col-sm-2">
      <div class = "row m-1">
          <button onclick="myFunction({{labelNumber}},{{figureNumber}},'Number of purchases per licence','bar')" class="btn btn-primary">Licence</button>
      </div>
      <div class = "row m-1">
          <button onclick="myFunction({{labelRevenue}},{{figureRevenue}},'Revenue per month','line')" class="btn btn-primary">Revenue in the last year</button>
      </div>
      <div class = "row m-1">
          <button onclick="myFunction({{lengthLabel}},{{lengthFigure}},'Length of licence','bar')" class="btn btn-primary">Licence Length</button>
      </div>
      <div class = "row m-1">
          <button onclick="myFunction({{countryLabel}},{{countryFigure}},'Companies from countries','bar')" class="btn btn-primary">Purchased Locations</button>
      </div>
    </div>
    <div class = "col-sm-10">
        <div id="chart-container" style=" position : relative;height:15vh; width:30vw">
            <!-- <canvas id="chart"  class='img-responsive'></canvas> -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
{% endblock %}
