{% extends 'emailTemplate.html' %}
{% block MainContents %}
  <div class="container-fluid">
    <p>Dear {{name}},</p>
    <p>We are pleased to confirm that the order was succesfully.</p>
    <p>Please find the invoice and contract attached to this email.</p>
  </div>
  <div class="container-fluid">
    <h1 class="display-4 text-center">Order</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Licence</th>
            <th scope="col">Number of Employees</th>
            <th scope="col">Length</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in basket %}
          <tr>
              <td>{{item[0]}}</td>
              <td>{{item[1]}} - {{item[2]}}</td>
              <td>{{item[3]}}</td>
              <td>${{item[4]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="container-fluid">
        <p>Thank you for the order</p>
        <p>Image Optim.</p>
      </div>
  </div>
{% endblock %}
