<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      {% block MainContents %}
      {% endblock %}
    </main>
    <footer class="container-fluid" style="background-color: #e3f2fd;">
      <div class="row">
        <div class="col-sm-8">
          <div class="row-sm"><h5>Contact Us</h5></div>
          <div class="row-sm">Phone Number - <a href ="tel: 077777777">07777777</a></div>
          <div class="row-sm">Email address - <a href ="mailto: person@emailholder.com">person@emailholder.com</a></div>
          <div class="row-sm">Address - <a href ="https://www.google.com/maps/place/Cardiff+University/@51.4866271,-3.1788641,15z/data=!4m5!3m4!1s0x0:0xe06dc7099e7122ca!8m2!3d51.4866271!4d-3.1788641">Cardiff University, Cardiff, Wales, CF10 3AT</a></div>
        </div>
    </footer>
  </body>
</html>
