{% extends 'user_template.html' %}
{% block MainContents %}
  <div class="container-fluid pb-2">
    <div class = "row">
      <div class = "col-sm-2">
          <img class="card-img-top" src="../static/images/licences.jpeg" alt="Card image cap" style="width: 18rem;">
      </div>
      <div class = "col-sm-10">
        <h3 class=" text-center">{{description[0][0]}}</h3>
        <h4>Description</h4>
        <p>{{description[0][1]}}</p>
      </div>
    </div>

    <form action="/gatherLicenceData" method= "post" id="typeOfLicence" name="typeOfLicence"">
      <div class="row">
        <div class="col p-3 my-3 background-color: #e3f2fd;">
          <fieldset id="tier">

            <h4>Select Tier</h4>
            {% for tier in tiers %}
              <div class="form-check">
                {%if tier[0] == selectedTier%}
                  <input class="form-check-input" type="radio" name="tier" id={{tier[0]}}  value={{tier[0]}} required checked>
                {%else%}
                  <input class="form-check-input" type="radio" name="tier" id={{tier[0]}}  value={{tier[0]}} required>
                {%endif%}
                {%if tier[1] == 1%}
                  <label class="form-check-label" for={{tier[0]}}>1 employee</label>
                {%elif tier[2] == None%}
                  <label class="form-check-label" for={{tier[0]}}>{{tier[1]}} + employee</label>
                {%else%}
                  <label class="form-check-label" for={{tier[0]}}>{{tier[1]}} - {{tier[2]}} employees</label>
                {%endif%}
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class ="col">
          <h4>Select Length</h4>
          <fieldset id="length">
            {% for length in lengths %}
              <div class="form-check">
                {%if length[0] == selectedLength%}
                <input class="form-check-input" type="radio" name="length" id={{length[0]}}  value={{length[0]}} required checked>
                {%else%}
                <input class="form-check-input" type="radio" name="length" id={{length[0]}}  value={{length[0]}} required>
                {%endif%}
                <label class="form-check-label" for={{length[0]}}>{{length[1]}}</label>
              </div>
            {% endfor %}
          </fieldset>
        </div>
      <input type="hidden" value ={{licenceID}} name ="licenceID" id = "licenceID">
    </form>
      <div class = "container-fluid">
        <div class="row">
          <div class ="row container pl-4">
            <button onclick="readPrice()" class="btn btn-primary">Calculate Price</button>
          </div>
          <!-- <div class="col">
            <div class ="row container pl-4">
              <button onclick="generatePrice()" type="submit" class="btn btn-primary">Calculate Price</button>
            </div>
            <div class ="row container pl-4">
              <h6 id = "Price">Price</h6>
            </div>
          </div> -->
          <div class="col align-items-end container">
            <button type="submit" class="btn btn-primary" >Add to basket</button>
          </div>
        </div>
        <h1 id = "price"></h1>
      </div>

{% endblock %}
