{% extends 'user_template.html' %}
{% block MainContents %}
  <div class="container-fluid">
    <h1 class="display-4 text-center">Licences</h1>
      <div class="list-group container pb-4">
        <div class="row">
        {% for licence in licences %}
        <div class="card p-3 m-2 background-color: #e3f2fd" style="w-25">
          <img class="card-img-top" src="../static/images/licences.jpeg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">{{licence[1]}}</h5>
            <p class="card-text">{{licence[2]}}</p>
            <a href="/licence/{{licence[0]}}" class="btn btn-primary text-center">View product</a>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" style="background-color: #e3f2fd; height: 100px;">
          <div class="carousel-item active text-center">
            <div class="d-block w-100"><p></p><p></p><p>Comments</p></div>
          </div>
          {% for comment in comments %}
          <div class="carousel-item text-center">
            <div class = "d-block w-100">
              <p>"{{comment[1]}}"</p>
              <p>{{comment[3]}}</p>
              <p>{{comment[2]}}/5</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </div>
{% endblock %}
